@import url("https://use.typekit.net/whu8esn.css");

$bodoni: ltc-bodoni-175, serif;
$sans: myriad-pro, sans-serif;
$sans-sc: myriad-pro-semi-condensed, sans-serif;
$serif: yrsa, serif;
$sans-x: myriad-pro-semiextended, sans-serif;



$white: #f5f7f6;
$purple: #754B8F;
$red: #e30000;
$black: #111111;
$black2: #2e2e2e;