@import 'assets';

#covenants-page {
    padding: 75px 0;
}

.cov-header {
    text-align: center;
    font-family: $serif;
    color: $black;
    font-size: 35px;
    font-weight: 500;
}

.cov-container {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    min-width: 320px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 1px #4a4a4a;
    padding: 30px 2px;
}

.covenants {
    width: 94%;
    margin: 10px auto;
    font-family: $sans;
    font-size: 20px;
    color: #4a4a4a;
}

@media only screen and (max-width: 800px) {
    .cov-container {
        display: flex;
        flex-flow: column;
    }
    .covenants {
        width: 80%;
        min-width: 300px;
        margin: 10px auto;
    }
}