@import 'assets';

#covenants-page {
    padding: 75px 0 0 0;
}

.cov-header {
    text-align: center;
    font-family: $serif;
    color: $red;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.cov-header-underline {
    width: 100px;
    height: 5px;
    background: $black;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

.cov-container {
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    min-width: 320px;
    width: 80%;
    margin: 0 auto;
    padding: 30px 2px;
}

.covenants {
    width: 94%;
    margin: 10px auto;
    font-family: $sans;
    font-size: 16px;
    color: #4a4a4a;
}

@media only screen and (max-width: 800px) {
    .cov-container {
        display: flex;
        flex-flow: column;
    }
    .covenants {
        width: 100%;
        min-width: 300px;
        margin: 10px auto;
    }
}