@import 'assets';

.header {
    font-family: $bodoni;
    font-weight: bold;
    font-size: 55px;
    text-align: right;
    position: absolute;
    top: 70%;
    right: 25px;
    color: $red;
    width: 100%;
    margin: 0 auto;
    text-shadow: 1.5px 1.5px 2px $white, -1.5px -1.5px 2px $white;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
    strong {
        font-size: 65px;
    }
}

.home-container {
    padding: 0 0 0 0;
    margin: 0;
    z-index: 100;
}
.top-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background: url('../images/brickHouse.png');
    filter: brightness(60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}
@media only screen and (max-width: 600px) {
    .top-container {
        filter: brightness(50%);
    }
    .header {
        font-size: 50px;
        text-shadow: none;
        strong {
            font-size: 60px;
        }
    }
}
@media only screen and (max-width: 550px) {
    .header {
        font-size: 45px;
        strong {
            font-size: 55px;
        }
    }
}
@media only screen and (max-width: 500px) {
    .header {
        font-size: 40px;
        strong {
            font-size: 50px;
        }
    }
}
@media only screen and (max-width: 450px) {
    .header {
        font-size: 35px;
        strong {
            font-size: 45px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .header {
        font-size: 30px;
        strong {
            font-size: 45px;
        }
    }
}
@media only screen and (max-width: 350px) {
    .header {
        font-size: 25px;
        strong {
            font-size: 40px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}