@import 'assets';

#sub-page {
    padding: 75px 0;
}

.land-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.image-holder {
    display: block;
    min-height: 1px;
    width: 680px;
    overflow: auto;
    margin: 0 auto;
    padding: 2px;
}

.sub-header {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: $serif;
}

.sub-header2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: $sans;
    width: 80%;
    min-width: 300px;
    margin: 0 auto 15px auto;
}

.pricing-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-bottom: 30px;
}

.pricing-header {
    font-size: 25px;
    font-family: $sans;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
}

@media only screen and (max-width: 850px) {
    .image-holder {
        width: 80%;
        margin: auto;
        height: auto;
    }
}