@import url("https://use.typekit.net/whu8esn.css");
#contact-page {
  padding: 75px 0 0 0;
}

.contact-header {
  text-align: center;
  font-family: yrsa, serif;
  color: #e30000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding: 0;
}

.contact-header-underline {
  width: 100px;
  height: 5px;
  background: #111111;
  margin: 0 auto 20px auto;
  padding-top: 0;
  border-radius: 10px;
}

.contact-name {
  font-family: yrsa, serif;
  font-size: 25px;
  color: #2e2e2e;
  text-align: center;
}

.contact-par {
  font-family: myriad-pro, sans-serif;
  color: #2e2e2e;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-link {
  font-family: myriad-pro, sans-serif;
  color: #2e2e2e;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #2200CC;
  line-height: 20px;
  transition: all 0.3s ease;
}
.contact-link i {
  padding-right: 10px;
}

.contact-link:hover {
  cursor: pointer;
  font-size: 21px;
  line-height: 20px;
  text-decoration: underline;
}

#formContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 50px;
}

.contactRow {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  margin: 20px 10px;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #111111;
}

.button-container {
  width: auto;
  margin: 0 auto;
}

.input {
  width: 90%;
  border: none;
  height: 30px;
  font-size: 15px;
  color: #111111;
}

input::placeholder {
  color: #111111;
}

input:focus {
  outline: none;
}

.form_label {
  padding-top: 7px;
  padding-right: 15px;
  justify-self: baseline;
  align-self: baseline;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 20px;
  width: auto;
  color: #111111;
}

.message_row {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  margin: 20px 10px;
  padding: 10px 0;
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #111111;
}

.message_input {
  width: 90%;
  height: 30px;
  font-size: 15px;
  border: none;
  color: #111111;
}

#form-button {
  margin: 20px auto 50px auto;
  height: 30px;
  width: 120px;
  font-size: 15px;
  color: #f5f7f6;
  border: 1px solid #f5f7f6;
  text-align: center;
  border-radius: 15px;
  background: #30302F;
}

#form-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .form-grid {
    display: flex;
    flex-flow: column;
  }

  .contactRow {
    margin: 20px auto;
  }

  .message_row {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 750px) {
  .contact-top-row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .contact-logo {
    padding: 0;
  }

  .contact-column1 {
    padding: 0;
  }

  .contact-top-column {
    padding: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .top-row {
    padding: 5px;
  }

  .header-holder {
    margin: 0;
  }

  .header3 {
    font-size: 20px;
  }

  .contact-header2 {
    padding-bottom: 50px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .message_input {
    width: 80%;
  }

  .message_row {
    padding: 0;
    margin: 10px 0;
  }

  .contactRow {
    padding: 0;
    margin: 10px 0;
  }
}

/*# sourceMappingURL=contact.css.map */
